## ENV ========
NODE_ENV=development

## Server =============
SERVER_PORT=3000
SERVER_HOST=0.0.0.0
SERVER_DEBUG_MODE=true

### Database (PgSQL | Sqlite) =========
DB_DRIVER=sqlite
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=dev
DB_PASSWORD=dev
DB_DATABASE=./consignart.local.sqlite
DB_SYNCHRONIZE=true
DB_DEBUG_MODE=false

### JWT ==========
JWT_SECRET=dev-only-insecure-access-secret-change-me
JWT_REFRESH_SECRET=dev-only-insecure-refresh-secret-change-me
