## ENV ========
NODE_ENV=

## Server =============
SERVER_PORT=
SERVER_HOST=
SERVER_DEBUG_MODE=


### Databas (PgSQL | Sqlite) =========
DB_DRIVER=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_SYNCHRONIZE=
DB_DEBUG_MODE=